<script type="text/javascript">
	
	var editor_{{id}} = CKEDITOR.inline('div_{{id}}')
	 
	form_{{id}}.onsubmit = function(event){
	   var target = event.target || event.srcElement;
	   event.cancelBubble = true;
	   if (event.preventDefault) {
		   event.preventDefault();
	   }
	   event.returnValue = false;
	}
 
	function sauver_{{id}}(editor){
		var data = editor.getData();
		var element = editor.element.$;
		var id = "{{id}}";
		var async = true;
		var editableCreateXMLHttpRequest = function() {
				// In IE, using the native XMLHttpRequest for local files may throw
				// "Access is Denied" errors.
				if ( !CKEDITOR.env.ie || location.protocol != 'file:' )
					try {
					return new XMLHttpRequest();
				} catch ( e ) {}

				try {
					return new ActiveXObject( 'Msxml2.XMLHTTP' );
				} catch ( e ) {}
				try {
					return new ActiveXObject( 'Microsoft.XMLHTTP' );
				} catch ( e ) {}

				return null;
			};

		var xhr = editableCreateXMLHttpRequest();
		if ( !xhr )
			return null;
		
		if ( async ) {
			// TODO: perform leak checks on this closure.
			xhr.onreadystatechange = function() {
				if ( xhr.readyState == 4 ) {
					//callback( getResponseFn( xhr ) );
					alert(xhr.responseText);
					xhr = null;
				}
			};
		}

		xhr.open("POST", element.getAttribute('data-route'),true);
		xhr.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
		xhr.send(  'id='+id+'&text='+encodeURIComponent(data) );

	}
</script>
