<!DOCTYPE html>
<html>
    <head>
{% for lib in ckeditor("init") %}
		<script src="{{lib}}" type="text/javascript"></script>
{% endfor%}

    </head>
    <body>
		<textarea name="test">test</textarea>
		{{ckeditor('active','replace','test')}}
	</body>
</html>
